@{
    ViewData["Title"] = "Highway to Pharmacy";
}

<div class="theme-bg-gray">
    <div class="container">
        
        <div class="row">
            <div class="col-md-6">
                <h6 class="theme-text-orange">Highway to Pill</h6>
                <h4>Taking away your pain is our business</h4>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="~/imgs/pharmacist-small-guy.jpg" alt="Pharmacist" />
            </div>
        </div>

    </div>
</div>