@{
    ViewData["Title"] = "Highway to Pharmacy";
}

<div class="theme-bg-gray py-5">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <h6 class="theme-text-orange">Highway to Pill</h6>
                    <h1 class="fw-bold">Taking away your pain is our business</h1>
                    <p>
                        Why run when you can fly? We take your pain and take your brain to spain.
                    </p>
                    <button class="btn btn-orange rounded">FLY Hi</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="px-5">
                    <img class="img-fluid" src="~/imgs/pharmacist-small-guy.jpg" alt="Pharmacist" />
                </div>
            </div>
        </div>

    </div>
</div>

<div class="mt-8">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <img class="img-fluid" src="~/imgs/drug_deal_in_the_hallway.jpg" alt="Pharmacist" />
            </div>
            <div class="col-md-6">
                <h6 class="theme-text-orange text-uppercase">About underground</h6>
                <h2 class="fw-bold">Make your buyer the hero of the story</h2>
                <p>
                    Why run when you can fly? We take your pain and take your brain to spain.
                </p>
                <p class="text-muted">
                    Why run when you can fly? We take your pain and take your brain to spain.
                </p>
                <button class="btn btn-orange rounded">Learn Less</button>
            </div>
        </div>
    </div>
</div>

<div class="mt-8">
    <div class="container">
        <div class="text-center">
            <h6 class="theme-text-orange text-uppercase">special deals</h6>
            <h2 class="fw-bold">Advertising With No Reference</h2>
        </div>
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="theme-card">
                    <div class="icon orange">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </div>
                    <h3>Unique Design</h3>
                    <p>Bring customers together into an underground shadey virtual cyber space</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="theme-card">
                    <div class="icon purple">
                        <i class="fa-solid fa-desktop"></i>
                    </div>
                    <h3>Premium Potency</h3>
                    <p>Bring customers together into an underground shadey virtual cyber space</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="theme-card">
                    <div class="icon baby-blue">
                        <i class="fa-solid fa-unlock-keyhole"></i>
                    </div>
                    <h3>Premium Potency</h3>
                    <p>Bring customers together into an underground shadey virtual cyber space</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="theme-card">
                    <div class="icon navy">
                        <i class="fa-solid fa-headphones"></i>
                    </div>
                    <h3>Premium Potency</h3>
                    <p>Bring customers together into an underground shadey virtual cyber space</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-8">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <div class="me-5">
                    <h6 class="theme-text-orange text-uppercase mt-8">About underground</h6>
                    <h2 class="fw-bold">Make your buyer the hero of tomorrow's news paper headlines</h2>
                    <p class="text-muted">
                        Why run when you can fly? We take your pain and take your brain to spain.
                        Why run when you can fly? We take your pain and take your.
                        Why run when you can fly? We take your pain an.
                        Why run when you can fly? We take your.
                    </p>
                    <a href="#">Never Read...</a>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <img class="img-fluid" src="~/imgs/n1.png" alt="Nature 1" />
            </div>
        </div>
    </div>
</div>

<div class="mt-6">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-0">
                <img class="img-fluid" src="~/imgs/n2.png" alt="Nature 2" />
            </div>
            <div class="col-md-5 offset-md-1">
                <div class="me-5">
                    <h6 class="theme-text-orange text-uppercase mt-8">About underground</h6>
                    <h2 class="fw-bold">Make your buyer the hero of tomorrow's news paper headlines</h2>
                    <p class="text-muted">
                        Why run when you can fly? We take your pain and take your brain to spain.
                        Why run when you can fly? We take your pain and take your.
                        Why run when you can fly? We take your pain an.
                        Why run when you can fly? We take your.
                    </p>
                    <a href="#">Never Read...</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-6">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <div class="me-5">
                    <h6 class="theme-text-orange text-uppercase mt-8">About underground</h6>
                    <h2 class="fw-bold">Make your buyer the hero of tomorrow's news paper headlines</h2>
                    <p class="text-muted">
                        Why run when you can fly? We take your pain and take your brain to spain.
                        Why run when you can fly? We take your pain and take your.
                        Why run when you can fly? We take your pain an.
                        Why run when you can fly? We take your.
                    </p>
                    <a href="#">Never Read...</a>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <img class="img-fluid" src="~/imgs/n3.png" alt="Nature 1" />
            </div>
        </div>
    </div>
</div>

<div class="mt-8 py-5 stats">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="stat">
                    <div class="icon yellow">
                        <i class="fa-solid fa-capsules"></i>
                    </div>
                    <div class="clearfix">
                        <div class="num">
                            92
                        </div>
                        <div class="txt">
                            <div>Satisfied</div>
                            <div>Clients</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat">
                    <div class="icon red">
                        <i class="fa-solid fa-pepper-hot"></i>
                    </div>
                    <div class="clearfix">
                        <div class="num">
                            85
                        </div>
                        <div class="txt">
                            <div>Total</div>
                            <div>Projects</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat">
                    <div class="icon triq">
                        <i class="fa-solid fa-trophy"></i>
                    </div>
                    <div class="clearfix">
                        <div class="num">
                            67
                        </div>
                        <div class="txt">
                            <div>Work</div>
                            <div>Completed</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat">
                    <div class="icon moove">
                        <i class="fa-solid fa-fire-extinguisher"></i>
                    </div>
                    <div class="clearfix">
                        <div class="num">
                            85
                        </div>
                        <div class="txt">
                            <div>Pills</div>
                            <div>Swallowed</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>