@font-face {
    font-family: "Martel";
    src: url("../fonts/martelsans/MartelSans-Regular.ttf") format("truetype"), url("../fonts/martelsans/MartelSans-Bold.ttf") format("truetype"),
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*font-family: "Martel";*/
}

.theme-navbar {
    background-color: #F7F7F7;
}

.theme-bg-gray {
    background-color: #F7F7F7;
}

.theme-text-orange {
    color: #FA7415 !important;
}

.theme-logo img {
    height: 40px;
}

.btn-orange {
    color: white;
    background-color: #FA7415 !important;
}

    .btn-orange:hover {
        color: white;
    }

.mt-6 {
    margin-top: 6rem;
}

.mt-8 {
    margin-top: 8rem;
}

.theme-card {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
}

    .theme-card .icon i {
        font-size: 1.5rem;
        padding: 14px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .theme-card .icon.orange i {
        background: #ea8b4f4f;
        color: #EA8B4F;
    }

    .theme-card .icon.purple i {
        background: #9F87E94f;
        color: #9F87E9;
    }

    .theme-card .icon.baby-blue i {
        background: #6097BD4f;
        color: #6097BD;
    }

    .theme-card .icon.navy i {
        background: #C72A6C4f;
        color: #C72A6C;
    }


    .theme-card:hover {
        border-color: transparent;
        cursor: pointer;
        box-shadow: 0 0 8px #ddd;
    }

.stats {
    background-color: #162B46;
    color: #fff;
}

    .stats .stat .icon {
        font-size: 4rem;
    }

        .stats .stat .icon.yellow {
            color: #ffcd00;
        }

        .stats .stat .icon.red {
            color: #c81818;
        }

        .stats .stat .icon.triq {
            color: #6ec5a2;
        }

        .stats .stat .icon.moove {
            color: #c359ac;
        }

    .stats .stat .num {
        font-size: 4.8rem;
        float: left;
        line-height: 3.5rem;
    }

    .stats .stat .txt {
        margin-left: 90px;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 2rem;
    }

.testimonial-img {
    width: 94px;
    height: 94px;
    border-radius: 50%;
}


.theme-person-card {
    text-align: center;
}

    .theme-person-card a {
        color: #444;
    }

    .theme-person-card a:hover {
        color: #EA8B4F;
    }