html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.theme-navbar {
    background-color: #F7F7F7;
}

.theme-bg-gray {
    background-color: #F7F7F7;
}

.theme-text-orange {
    color: #FA7415 !important;
}