<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HiWay</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MDC.HappyBuisness.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="theme-navbar navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
            <div class="container">
                <a class="navbar-brand theme-logo" asp-controller="Home" asp-action="Index">
                    <img src="~/imgs/logo.png" alt="Logo">
                    HiWay Pharma
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Classifications" asp-action="Index">Classifications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Drugs" asp-action="Index">Drugs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Pharmacists" asp-action="Index">Pharmacists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Buyers" asp-action="Index">Buyers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Deals" asp-action="Index">Deals</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="footer pt-5 mt-5">
        <div class="upper py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h2 class="mb-3">MA<span class="text-warning">X</span>ON</h2>
                        <p class="text-muted">
                            Why run when you can fly? We take your pain and take your brain to spain.
                            Why run when you can fly? We take your pain and take your.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <h3 class="mb-3">Our Products</h3>
                        <div>
                            <a class="text-warning text-decoration-none" href="#">Panadol</a>
                        </div>
                        <div>
                            <a class="text-warning text-decoration-none" href="#">Voltex</a>
                        </div>
                        <div>
                            <a class="text-warning text-decoration-none" href="#">Lospasmine</a>
                        </div>
                        <div>
                            <a class="text-warning text-decoration-none" href="#">Nexium</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3 class="mb-3">Instagram Feed</h3>
                        <div class="insta-feed clearfix">
                            <div class="float-start">
                                <img class="feed" src="~/imgs/n1.png" />
                            </div>
                            <div class="float-start">
                                <img class="feed" src="~/imgs/n2.png" />
                            </div>
                            <div class="float-start">
                                <img class="feed" src="~/imgs/n3.png" />
                            </div>
                            <div class="float-start">
                                <img class="feed" src="~/imgs/man_sml.jpg" />
                            </div>
                            <div class="float-start">
                                <img class="feed" src="~/imgs/hank.png" />
                            </div>
                            <div class="float-start">
                                <img class="feed" src="~/imgs/gostavo.jpg" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h3 class="mb-3">Contact Info</h3>
                        <div class="clearfix">
                            <i class="fa-solid fa-map float-start mt-1"></i>
                            <div class="ms-4">
                                104 Maple St. Down town Inapi, Stranger Things
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="mt-2">
                                <i class="fa-solid fa-mobile-screen-button float-start mt-1"></i>
                                <div class="ms-4">
                                    +962 777 315 459
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="mt-2">
                                <i class="fa-solid fa-envelope float-start mt-1"></i>
                                <div class="ms-4">
                                    you@myheart.4vr
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lower">
            <div class="container text-center py-4 text-muted">
                Copyright &copy; 2022 MineCRAFT By <a class="theme-text-orange text-decoration-none" href="https://www.microsoft.com">Microsoft</a>. All Rights Reserved.    
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
